body {
  background: linear-gradient(to bottom, yellow, orange, teal);
  background-size: 100% 100%;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  height: 100vh;
  
}

.left-aligned {
  text-align: left;
}

.loading-spinner-container {
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  height: 100px; 
}

.error-message {
  color: black;
}

/* Home*/

.home-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.welcome-header {
  font-size: 24px;
  margin-bottom: 20px;
}


.entries-section,
.prizes-section {
  margin-top: 20px;
  text-align: left;
}


ul {
  list-style-type: disc;
  margin-left: 20px;
}


p {
  font-style: italic;
  color: #888;
}


@media (max-width: 600px) {
  .home-container {
    padding: 10px;
  }
  .welcome-header {
    font-size: 20px;
  }
}



/* NAVBAR */

/* Navbar Container */
.navbar {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navbar Brand */
.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

/* Navigation Links */
.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.2s ease-in-out;
}

.nav-link:hover {
  color: #007bff;
}

/* User Menu and Dropdown */
.user-dropdown {
  display: flex;
  align-items: center;
}

.user-name {
  cursor: pointer;
  font-weight: bold;
  margin-right: 10px;
  font-size: 1rem;
  color: #333;
}

/* Dropdown Menu */
.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dropdown-item {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  display: block;
  transition: background-color 0.2s ease-in-out;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
}

/* Authentication Links */
.auth-links {
  display: flex;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 1rem;
  margin-left: 20px;
  transition: color 0.2s ease-in-out;
}

.nav-link:hover {
  color: #007bff;
}



/* LOGIN PAGE */

.login-container {
  display: flex;
  justify-content: center;
  height: 60vh; 
  padding: 20px;
}

.signup-container {
  display: flex;
  justify-content: center;
  height: 70vh; 
  padding: 20px;
}

.card {
  max-width: 400px; 
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
}

.card-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.btn-primary {
  width: 100%;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}



/* GiveawayList.css */

.giveawayList-div {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.02);
    background-color: #e0e0e0;
  }
}

.giveawayList-div {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.column {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ddd;
}

.column:last-child {
  margin-right: 0;
}

.poster-column {
  flex: 0 0 75%; 
  display: flex;
  justify-content: right;
  align-items: center;
}

.poster img {
  max-width: 35vw; 
  max-height: 60%;
}




/* GiveawayPage.css */

.giveaway-page {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.giveaway-details {
  flex: 1;
  padding: 20px; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.giveaway-title {
  font-size: 40px;
  margin-bottom: 10px;
  text-align: center;
}

.giveaway-info {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.giveaway-info p {
  color: black;
}

.giveaway-poster {
  flex: 0 0 25%;
  margin-left: 20px;
  max-width: 25%;
}

.giveaway-not-found {
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}

/* GiveawayEntries.css */

.entries-counter {
  text-align: center;
  font-size: 30px;
}

.giveaway-entry-container {
  display: flex;
  align-items: center; 
  border: 1px solid #ccc;
  padding: 0px;
  margin-bottom: 10px;
}

.giveaway-entry-column {
  flex: 1;
  margin-right: 20px;
  justify-content: space-between;
}

.giveaway-entry-iframe {
  flex: 2;
  margin-right: 20px;
}

.giveaway-entry-button {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.giveaway-entry-column button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.instagram-button {
  display: inline-block;
  width: 50px;
  height: 50px;
}

.instagram-button img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}


/* ADMIN PANEL */
.table-container {
  max-height: 100vh; 
  overflow-y: auto; 
}

.table-header {
  position: sticky;
  top: 0;
  background-color: #fff; 
  z-index: 1; 
}

/*PickWinner */
.pick-winner-container {
  display: flex;
  justify-content: space-between;
}

.column {
  width: 48%;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 15px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
}

.card-subtitle {
  font-size: 1rem;
  color: #777;
}

.close-button {
  background-color: #6c757d;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.close-button:hover {
  background-color: #495057;
}

.winner-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.winner-button:hover {
  background-color: #218838;
}

.select-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.select-button:hover {
  background-color: #0056b3;
}


